.search_container{
    background-color: #222;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.search_container input{
    width: 75%;
    line-height: 30px;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgrey;
    margin-right: 6px;
    margin-left: 50px;
}