.order_summer{
    background: #fff;
    margin-top: 20px;
    padding: 20px;
}
.summery{
    font-size: 18px;
    color: #212121;
    margin-bottom: 14px;
    position: relative;
    font-weight: 500;
}
.subtotal{
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: #757575;
    letter-spacing: 0;
}
.order_summer h3{
    font-size: 1.17em;
    font-weight: bold;
}
.order_bill{
    font-size: 13px;
    text-align: left;
}
.grant_total{
    color: #b12704;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
}
.order_item_bill{
    margin-left: 10px;
}
.order_btn{
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    width: 100%;
    height: 26px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
}
.remove_btn{
    background-color: #f0c14b;
    border: none;
    color: #111;
    width: 200px;
    height: 35px;
    cursor: pointer;
    vertical-align: middle;
}