.header{
    text-align: center;
    background-color: rgb(243, 242, 242);
    border-color: #a88734 #9c7e31 #846a29;
}
.nav-shop{
    color: #be8c0f !important; 
}
.nav-text{
    color: #424242;
}
.nav-text :hover{
    color: #be8c0f !important; 
}
.header_img1{
    width: 120px;
}