.header{
    text-align: center;
}
.header_img{
    height: 70px;
    align-items: center;
    margin-bottom: 12px;
}
.header nav{
    background: #000;
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
.header nav a:hover{
    background: lightgray;
}